/*Loader*/
#loader {
  height: 1500px;
  width: 1500px;
  background-color: var(--blue);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 3s;
}
#loader img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/*IMPORTS & COLOR PALLET*/
@import url("https://fonts.googleapis.com/css?family=ABeeZee:400,400i");

:root {
  --blue: #0c5da0;
  --grey: #520325;
  --darkblue: #0b132b;
  --blue2: #1c2541;
}
/*UNIVERSAL*/
body {
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
}

/*NAVIGATION*/
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 1s;
  background: var(--white);
}
nav.white {
  background: white;
  height: 80px;
  padding: 10px 50px;
}
nav #logoBig {
  float: left;
  display: none;
}
nav #logoBig {
  height: 80px;
  transition: 1s;
}
nav.white #logoBig {
  height: 80px;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  display: none;
}
nav #white ul li a {
  color: black;
}
nav ul li a:hover {
  color: #fff;
  background: var(--blue);
  text-decoration: none;
}
.responsive-bar {
  display: none;
}

/*HERO BANNER*/
section#particles-js {
  width: 100%;
  height: 100vh;
  background-image: url(../img/cover.jpg);
  background-size: cover;
}
.pimg1,
.pimg2,
.pimg3 {
  min-height: 500px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*CHANGE TO "SCROLL" TO GET RID OF EFFECT*/
  background-attachment: fixed;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: var(--blue);
  opacity: 0.4;
  position: absolute;
}

/*IMAGES*/
.pimg1 {
  background-image: url("../img/smile.jpg");
}
.pimg2 {
  background-image: url("../img/studio2.JPG");
}
.pimg3 {
  background-image: url("../img/kids.jpg");
}
.oqphoto {
  height: 500px;
  border-radius: 25px;
}

/*SECTION EDITS*/
.section {
  text-align: center;
  padding: 50px;
}
.section h2 {
  font-size: 2em;
  letter-spacing: 2px;
  color: var(--grey);
}
.section p {
  font-size: 1em;
  letter-spacing: 2px;
  color: var(--grey);
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 1;
}
.ptext .border {
  background-color: white;
  color: var(--blue);
  padding: 20px;
  display: inline-block;
}

/*ICON AREA*/
#info {
  margin: 20px 0 60px 0;
}

.tiniicon {
  height: 100px;
  padding-top: 20px;
  margin-top: 80px;
}
.grey {
  color: var(--grey);
}

.grey.panel-title{
  cursor: pointer;
}

/*Final Edit*/
.text-container {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/music_computer.png");
  background-repeat: no-repeat;
  height: 500px;
}

.text-container h1,
span {
  font-size: 70px;
  color: rgba(225, 225, 225, 0.1);
  background-image: url("../img/colors.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  top: 40%;
}

.typewrite {
  text-decoration: none;
}

.longDay {
  position: absolute;
  top: 200px;
}
.longDay h1 {
  z-index: 1;
}
.audio {
  width: 100%;
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}

h1 {
  background-color: black !important;
  color: white !important;
}

.list-group {
  list-style: none;
}

/*CONTACT FORM*/
#contact {
  padding-top: 50px;
  background-image: linear-gradient(#ffffff, #0b132b);
  font-family: "ABeeZee", sans-serif;
}

#contact .well {
  margin-top: 30px;
  border-radius: 0;
}

#contact .form-control {
  border-radius: 10px;
  border: 2px solid black;
}

.contact-clean button {
  float: right;
  color: black;
  margin: 0;
  padding: 0 10px;
  background-color: white;
  border-radius: 25%;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
  border: black 1px solid;
}
#contact button:hover {
  background-color: var(--blue);
  color: white;
  border: black 1px solid;
  transition: 0.2s;
  text-decoration: none;
}

#contact .row {
  margin-bottom: 30px;
}

/*FOOTER*/
footer {
  background: #0b132b;
  color: white;
  padding: 30px;
}

footer h4 {
  padding-bottom: 10px;
}
.fa {
  padding-top: 10px;
  font-size: 30px;
  color: white;
  transition: 0.2s;
}
.fa:hover {
  font-size: 30px;
  color: cyan;
  transition: 0.2s;
  border: cyan 1px solid;
  border-radius: 25%;
  padding: 3px;
}
.rev:hover {
  color: cyan;
  text-decoration: none;
}
.map {
  height: 500px;
  width: 100%;
}

#popup {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px;
  padding: 15px 20px;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

#popup-closer {
  display: block;
  margin-left: auto;
}

.popup-closer-x {
  font-size: 10px;
  color: var(--blue);
  padding-top: 0px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.popup-closer-x:hover {
  font-size: 10px;
  color: var(--blue);
  padding-top: 0px;
  border: 0px;
  padding: 0px;
}

.schedule-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: var(--blue);
  color: white;
  min-height: 50px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  cursor: pointer;
}

.fa.fa-calendar {
  padding-top: 0px !important;
  color: white;
}
.fa.fa-calendar:hover {
  color: cyan;
  transition: 0.2s;
  border: none;
  border-radius: none;
  padding: 0px;
}

.testimonial-card{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: .25rem!important;
  background-color: #fff!important;
  padding: 10px;
  margin-top: 50px;
  position: relative;
}

.testimonial-card-name{
  font-size: 24px;
  color: var(--grey);
}

.testimonial-card-image{
  display: block;
  width: 80px;
  height: 80px;
  background: #E6E7ED;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -40px;
  left: calc(50% - 40px);
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
}

.testimonial-card-mark{
  color: var(--blue);
  font-size: 80px;
  font-family: cursive;
  text-align: center;
  margin-bottom: -40px;
}

.testimonial-card-quote{
  color: var(--grey);
  font-style: italic;

}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .responsive-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 3;
  }
  .responsive-bar .logo img {
    float: left;
    height: 40px;
  }
  .responsive-bar .menu h4 {
    float: right;
    color: white;
    margin: 0;
    padding: 0 10px;
    background-color: var(--blue);
    border-radius: 25%;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    border: black 1px solid;
  }
  .responsive-bar .menu h4:hover {
    background-color: white;
    color: black;
    border: var(--blue) 1px solid;
    transition: 1s;
    text-decoration: none;
  }
  nav.white {
    background: rgba(255, 255, 255, 0.8);
    height: 60px;
    padding: 0;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: white;
    float: none;
    display: none;
  }
  nav ul.active {
    display: block;
    width: 100%;
    text-align: center;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 30px !important;
    color: black;
  }
  .text-container h1,
  span {
    font-size: 40px;
    color: rgba(225, 225, 225, 0.1);
    background-image: url("../img/colors.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
    text-align: center;
    margin-top: 20%;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 40%;
  }
  .longDay {
    position: absolute;
    top: 100px;
  }
  #contact iframe {
    margin-bottom: 15px;
  }
  .pimg1,
  .pimg2,
  .pimg3 {
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*CHANGE TO "SCROLL" TO GET RID OF EFFECT*/
    background-attachment: scroll;
  }

  .testimonial-card{
    margin-top: 70px;
  }
  
}
